
/.vs
/klassenTest/.vs
klassenTest/.vs/klassenTest/FileContentIndex/1234a37a-9a13-409d-b253-3dc9d3b83c15.vsidx
klassenTest/.vs/klassenTest/FileContentIndex/7235a9b3-9a0d-48a1-b971-cc76f5f48638.vsidx
klassenTest/.vs/klassenTest/FileContentIndex/7bd42873-45ba-40f5-b123-b43c45c60fb5.vsidx
klassenTest/.vs/klassenTest/FileContentIndex/7f4cc47e-fc0a-4dd0-be18-55c7fa393926.vsidx
klassenTest/.vs/klassenTest/FileContentIndex/b9845dfa-1e54-4eed-ae2e-a68c3530dc9e.vsidx
